HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
# HTTP_READ_HEADER_TIMEOUT=5s
# HTTP_READ_TIMEOUT=15s
# HTTP_WRITE_TIMEOUT=15s
# HTTP_IDLE_TIMEOUT=60s
# HTTP_MAX_BODY_BYTES=1048576

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=go-todolist-database
POSTGRES_USER=go-todolist-database
POSTGRES_PASSWORD=go-todolist-database
POSTGRES_SSLMODE=disable
# POSTGRES_CONNECT_TIMEOUT=5s
# POSTGRES_STATEMENT_TIMEOUT=10s

LOGGER_LEVEL=DEBUG
LOGGER_FORMAT=console
